<app-barra-menu></app-barra-menu>
<app-whatsapp-icono></app-whatsapp-icono>
<div class="container-fluid contenedor-servicios-titulo">
    <div class="row fila-servicios-titulo">

        <div class="col-12 columna-servicios-titulo">
            <h2>Servicios</h2>
        </div>

    </div>
</div>

<div class="container-fluid contenedor-servicios">
    <div class="row fila-servicios">


        <div class="col-9 columna-servicios">
            <div class="servicios-descripcion-fila">
                <div class="servicios-descripcion-subtitulo">
                    <h3>Transformación e instalación de piedra natural.</h3>
                </div>
                <div class="servicios-descripcion-texto">
                    <p>En Flow Stones, nos especializamos en trabajar con piedra natural y sinterizada para crear soluciones únicas y duraderas. La transformación consiste en personalizar cada pieza mediante cortes, pulidos y acabados que se adaptan perfectamente a las necesidades de cada proyecto. La instalación asegura que estas piezas sean colocadas con precisión en espacios como cocinas, baños, pisos y muros, garantizando un resultado estético y funcional. Nuestro enfoque combina experiencia, tecnología avanzada y atención al detalle para entregar resultados de la más alta calidad.</p>
                </div>
            </div>
            <div class="servicios-descripcion-fila">
                <div class="servicios-descripcion-subtitulo">
                    <h3>prueba</h3>
                </div>
                <div class="servicios-descripcion-texto">
                    <p>prueba</p>
                </div>
            </div>
            <div class="servicios-descripcion-fila">
                <div class="servicios-descripcion-subtitulo">
                    <h3>prueba</h3>
                </div>
                <div class="servicios-descripcion-texto">
                    <p>prueba</p>
                </div>
            </div>
            <div class="servicios-descripcion-fila">
                <div class="servicios-descripcion-subtitulo">
                    <h3>prueba</h3>
                </div>
                <div class="servicios-descripcion-texto">
                    <p>prueba</p>
                </div>
            </div>
            <div class="servicios-descripcion-fila">
                <div class="servicios-descripcion-subtitulo">
                    <h3>prueba</h3>
                </div>
                <div class="servicios-descripcion-texto">
                    <p>prueba</p>
                </div>
            </div>
            <div class="servicios-descripcion-fila">
                <div class="servicios-descripcion-subtitulo">
                    <h3>prueba</h3>
                </div>
                <div class="servicios-descripcion-texto">
                    <p>prueba</p>
                </div>
            </div>
            <div class="servicios-descripcion-fila">
                <div class="servicios-descripcion-subtitulo">
                    <h3>prueba</h3>
                </div>
                <div class="servicios-descripcion-texto">
                    <p>prueba</p>
                </div>
            </div>
            <div class="servicios-descripcion-fila">
                <div class="servicios-descripcion-subtitulo">
                    <h3>prueba</h3>
                </div>
                <div class="servicios-descripcion-texto">
                    <p>prueba</p>
                </div>
            </div>
        </div>

        <div class="col-9 columna-servicios-blur">
    </div>
</div>
<app-footer></app-footer>
