<div class="container-fluid contenedor-footer">
    <div class="row fila-footer">
        <div class="col-9 columna-footer">

            <div class="footer-contenido">
                
                <div class="footer-contenido-contacto">
                    <div class="contacto-titulo">
                        <h2>CONTACTO</h2>
                    </div>
                    <div class="contacto-lista">
                        <div class="contacto-lista-telefono">
                            <i class="fa-solid fa-phone" style="color: #000000; font-size: 14px;"></i>
                            <p>55-2529-1857</p>
                        </div>
                        <div class="contacto-lista-celular">
                            <i class="fa-solid fa-mobile-screen" style="color: #000000; font-size: 14px;"></i>
                            <p>55-2529-1857</p>
                        </div>
                        <div class="contacto-lista-mail">
                            <i class="fa-solid fa-envelope" style="color: #000000; font-size: 14px;"></i>
                            <p>atencionpersonal&#64;creative3d.com</p>
                        </div>
                        <div class="contacto-lista-redes">
                            <i class="fa-solid fa-thumbs-up" style="color: #000000; font-size: 14px;"></i>
                            <p>Redes sociales</p>
                        </div>
                        <div class="contacto-lista-redes-iconos">
                            <div class="redes-iconos-facebook">
                                <i class="fa-brands fa-facebook" style="color: #000000; font-size: 14px;"></i>
                            </div>
                            <div class="redes-iconos-instagram">
                                <i class="fa-brands fa-square-instagram" style="color: #000000; font-size: 14px;"></i>
                            </div>
                            <div class="redes-iconos-x">
                                <i class="fa-brands fa-x-twitter" style="color: #000000; font-size: 14px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-contenido-metodos-pago">
                    <div class="metodos-pago-titulo">
                        <h2>MÉTODOS DE PAGO</h2>
                    </div>
                    <div class="metodos-pago-lista">
                        <div class="metodos-pago-caja">
                            <div class="metodos-pago-texto">Tarjetas crédito y débito</div>
                            <div class="metodos-pago-imagenes imagenes-tdc">
                                <div class="imagen-mc"></div>
                                <div class="imagen-visa"></div>
                                <div class="imagen-ae"></div>
                            </div>
                        </div>
                        <div class="metodos-pago-caja">
                            <div class="metodos-pago-texto">Paypal</div>
                            <div class="metodos-pago-imagenes paypal"></div>
                        </div>
                        <div class="metodos-pago-caja">
                            <div class="metodos-pago-texto">Efectivo contra entrega</div>
                            <div class="metodos-pago-imagenes"></div>
                        </div>
                    </div>
                </div>
                <div class="footer-contenido-legal">
                    <div class="legal-titulo">
                        <h2>LEGAL</h2>
                    </div>
                    <div class="legal-lista">
                        <ul>
                            <li>Términos y condiciones</li>
                            <li>Aviso de privacidad</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>