<div class="container-fluid contenedor-barra-menu">
    <div class="row fila-barra-menu">
        <div class="col-9 col-lg-12 col-xl-12 columna-barra-menu">

            <div class="barra-menu-logo">
                <div class="barra-menu-logo-imagen"  routerLink="/principal/pagina-inicio">
                    <img src="./../../../assets/imagenes/FS_logo.png" alt="">
                </div>
                <div #toggleItem class="menu-item-toggle"> 
                    <div class="toggle-estilos">   
                        <i class="fa-solid fa-bars"></i>     
                    </div>       
                </div>
            </div>

            <div #barraMenuItems class="barra-menu-items">
                <div class="menu-item" routerLink="/principal/sobre-nosotros">
                    <div class="item-texto">
                        <p>¿Quiénes somos?</p>
                    </div>
                    <div class="item-icono">
                        <img src="./../../../assets/imagenes/quienes_somos_color.svg">
                    </div>
                </div>
                <div class="menu-item" routerLink="/principal/equipo-trabajo">
                    <div class="item-texto">
                        <p>Equipo de trabajo</p>
                    </div>
                    <div class="item-icono">
                        <img src="./../../../assets/imagenes/equipo_de_trabajo_color.svg">
                    </div>
                </div>
                <div class="menu-item" routerLink="/principal/tecnologias">
                    <div class="item-texto">
                        <p>Tecnologías</p>
                    </div>
                    <div class="item-icono">
                        <img src="./../../../assets/imagenes/tecnología_color.svg">
                    </div>
                </div>
                <div class="menu-item" routerLink="/principal/tipos-piedras">
                    <div class="item-texto">
                        <p>Tipos de piedra</p>
                    </div>
                    <div class="item-icono">
                        <img src="./../../../assets/imagenes/tipos_de_piedra_color.svg">
                    </div>
                </div>
                <div class="menu-item" routerLink="/principal/servicios">
                    <div class="item-texto">
                        <p>Servicios</p>
                    </div>
                    <div class="item-icono">
                        <img src="./../../../assets/imagenes/servicios_color.svg">
                    </div>
                </div>
                <div class="menu-item" routerLink="/principal/tipos-corte">
                    <div class="item-texto">
                        <p>Tipos de corte</p>
                    </div>
                    <div class="item-icono">
                        <img src="./../../../assets/imagenes/tipos_de_cortes_color.svg">
                    </div>
                </div>
                <div class="menu-item">
                    <div class="item-texto">
                        <p>Socios comerciales</p>
                    </div>
                    <div class="item-icono">
                        <img src="./../../../assets/imagenes/socios_comerciales_color.svg">
                    </div>
                </div>
                <div class="menu-item" routerLink="/principal/contactanos">
                    <div class="item-texto">
                        <p>Contactanos</p>
                    </div>
                    <div class="item-icono">
                        <img src="./../../../assets/imagenes/contacto_color.svg">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>