<app-barra-menu></app-barra-menu>

<div class="container-fluid contenedor-equipo-trabajo">
    <div class="row fila-equipo-trabajo">
        <div class="col-9 columna-equipo-trabajo">

            <div class="contenedor-descripcion-equipo-trabajo">
                <div class="descripcion-equipo-trabajo-titulo">
                    <h2>Equipo de trabajo</h2>
                </div>
                <div class="descripcion-equipo-trabajo">
                    
                    <div class="descripcion-equipo-trabajo-texto">
                        <p>
                            Contamos con excelente equipo de trabajo, formado con una indispensable capacitación basados
                            en la
                            innovación y deseo constante de evolucionar.
                        </p>
                        <br>
                        <p>
                            Nuestro equipo de trabajo, está formado por Arquitectos, Interioristas Industriales e
                            ingenieros especializados
                            en el área de creación de un entorno ideal para tu espacio.
                        </p>
                    </div>

                    <div class="descripcion-equipo-trabajo-lista">
                        <ul>
                            <li>Atención especializada a todos y cada uno de nuestros clientes.</li>
                            <li>Garantía de trabajo.</li>
                            <li>Seriedad con los tiempos de entrega y calidad.</li>
                            <li>Tenemos un control de calidad diseñado por expertos en todos nuestros trabajos, antes y
                                después de colocarse.</li>
                            <li>Atención a nivel nacional.</li>
                        </ul>
                    </div>
                </div>
                
            </div>

            <div class="contenedor-equipo-trabajo-imagenes">
                <div class="contenedor-equipo-trabajo-imagen">
                    <div id="imagen-equipo-uno"></div>                    
                </div>
                <div class="contenedor-equipo-trabajo-imagen">
                    <div id="imagen-equipo-dos"></div>                    
                </div>
                <div class="contenedor-equipo-trabajo-imagen">
                    <div id="imagen-equipo-tres"></div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>