* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-sobre-nosotros {
    margin-top: 12vh;

    .fila-sobre-nosotros {
        display: flex;
        justify-content: center;


        .columna-sobre-nosotros {
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 1);

            .contenedor-quienes-somos {
                width: 100%;
                height: 50vh;
                display: flex;
                flex-direction: row;

                .quienes-somos-descripcion {
                    width: 60%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .descripcion-titulo {
                        width: 100%;
                        height: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h2 {
                            font-size: 82px;
                            font-family: "Corinthia", cursive;
                            color: rgba(141, 92, 0, 1);
                            font-weight: bold;
                            font-style: normal;
                            -webkit-text-stroke: 0.2px rgba(245, 245, 245, 1);
                            text-shadow: 2px 2px rgba(95, 95, 95, 0.5);
                        }
                    }

                    .descripcion-texto {
                        width: 100%;
                        height: 70%;
                        padding: 3vh 3vw 3vh 3vw;

                        p {
                            font-size: 18px;
                            text-align: justify;
                            line-height: 1.6;
                        }
                    }
                }

                .quienes-somos-imagen {
                    width: 40%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .contenedor-imagen-quienes-somos {
                        width: 80%;
                        height: 80%;
                        background-image: linear-gradient(270deg, rgba(255, 255, 255, 0)30%, rgba(255, 255, 255, 1)30%, rgba(255, 255, 255, 1)35%, rgba(255, 255, 255, 0)35%, rgba(255, 255, 255, 0)70%, rgba(255, 255, 255, 1)70%, rgba(255, 255, 255, 1)75%, rgba(255, 255, 255, 0)75%), url("./../../../assets/imagenes/cocina_lujo.png");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

            }

            .contenedor-mision-vision {
                width: 100%;
                height: 37vh;
                display: flex;
                flex-direction: row;

                .mision-vision {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    order: 2;

                    .mision {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        flex-direction: row;

                        .mision-texto {
                            width: 70%;
                            height: 100%;
                            padding: 2vh 2vw 2vh 2vw;
                            order: 2;

                            p {
                                font-size: 18px;
                                text-align: justify;
                                line-height: 1.6;
                            }
                        }

                        .mision-titulo {
                            width: 30%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            order: 1;

                            h2 {
                                font-size: 72px;
                                font-family: "Corinthia", cursive;
                                color: rgba(141, 92, 0, 1);
                                font-weight: bold;
                                font-style: normal;
                                -webkit-text-stroke: 0.3px rgba(245, 245, 245, 1);
                                text-shadow: 2px 2px rgba(95, 95, 95, 0.5);
                            }
                        }
                    }

                    .vision {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        flex-direction: row;

                        .vision-titulo {
                            width: 30%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            order: 2;

                            h2 {
                                font-size: 72px;
                                font-family: "Corinthia", cursive;
                                color: rgba(141, 92, 0, 1);
                                font-weight: bold;
                                font-style: normal;
                                -webkit-text-stroke: 0.3px rgba(245, 245, 245, 1);
                                text-shadow: 2px 2px rgba(95, 95, 95, 0.5);
                            }
                        }

                        .vision-texto {
                            width: 70%;
                            height: 100%;
                            padding: 2vh 2vw 2vh 2vw;
                            order: 1;

                            p {
                                font-size: 18px;
                                text-align: justify;
                                line-height: 1.6;
                            }
                        }

                    }


                }


            }

            .contenedor-valores {
                width: 100%;
                height: 42vh;
                display: flex;
                flex-direction: row;

                .valores {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;

                    .valores-titulo {
                        width: 30%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h2 {
                            font-size: 72px;
                            font-family: "Corinthia", cursive;
                            color: rgba(141, 92, 0, 1);
                            font-weight: bold;
                            font-style: normal;
                            -webkit-text-stroke: 0.3px rgba(245, 245, 245, 1);
                            text-shadow: 2px 2px rgba(95, 95, 95, 0.5);
                        }
                    }

                    .valores-lista {
                        width: 70%;
                        height: 100%;
                        padding: 3vh 3vw 3vh 3vw;

                        ul li {
                            font-size: 18px;
                            text-align: justify;
                            line-height: 1.6;
                        }
                    }


                }


            }

        }
    }
}

@media (max-width:768px) {

    .contenedor-sobre-nosotros {
        .fila-sobre-nosotros {
            display: flex;
            justify-content: center;

            .columna-sobre-nosotros {
                width: 100%;

                .contenedor-quienes-somos {
                    width: 100%;
                    height: 87vh;
                    display: flex;
                    flex-direction: column;

                    .quienes-somos-descripcion {
                        width: 100%;
                        height: 50vh;
                        display: flex;
                        flex-direction: column;

                        .descripcion-titulo {
                            width: 100%;
                            height: 10vh;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            h2 {
                                font-size: 48px;
                                letter-spacing: 2px;
                            }
                        }

                        .descripcion-texto {
                            width: 100%;
                            height: 40vh;
                            padding: 2vh 6vw 2vh 6vw;

                            p {
                                font-size: 16px;
                                line-height: 1.4;
                            }
                        }
                    }

                    .quienes-somos-imagen {
                        width: 100%;
                        height: 37vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .contenedor-imagen-quienes-somos {
                            width: 80%;

                        }
                    }

                }

                .contenedor-mision-vision {
                    width: 100%;
                    height: 57vh;
                    display: flex;
                    flex-direction: column;

                    .mision-vision {
                        width: 100%;
                        height: 57vh;
                        display: flex;
                        flex-direction: column;
                        order: 1;

                        .mision {
                            width: 100%;
                            height: 50%;
                            display: flex;
                            flex-direction: column;

                            .mision-texto {
                                width: 100%;
                                height: 70%;
                                padding: 2vh 6vw 2vh 6vw;
                                order: 2;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                p {
                                    font-size: 16px;
                                    line-height: 1.4;
                                }
                            }

                            .mision-titulo {
                                width: 100%;
                                height: 30%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                order: 1;

                                h2 {
                                    font-size: 32px;
                                    line-height: 2;
                                }
                            }
                        }

                        .vision {
                            width: 100%;
                            height: 50%;
                            display: flex;
                            flex-direction: column;

                            .vision-titulo {
                                width: 100%;
                                height: 30%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                h2 {
                                    font-size: 48px;
                                    letter-spacing: 6px;

                                }
                            }

                            .vision-texto {
                                width: 100%;
                                height: 70%;
                                padding: 2vh 6vw 2vh 6vw;
                                order: 2;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                p {
                                    font-size: 16px;
                                    line-height: 1.4;
                                }
                            }

                        }


                    }


                }

                .contenedor-valores {
                    width: 100%;
                    height: 83vh;
                    display: flex;
                    flex-direction: row;

                    .valores {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
    
                        .valores-titulo {
                            width: 100%;
                            height: 10%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            h2 {
                                font-size: 48px;
                                letter-spacing: 6px;
                            }
                        }
    
                        .valores-lista {
                            width: 100%;
                            height: 90%;
                            ul {
                                padding: 3vh 3vw 3vh 6vw;
                                li {
                                    font-size: 16px;
                                    text-align: justify;
                                    line-height: 1.4;
                                }
                            }
                            
                        }
    
    
                    }
    
    
                }
    
            }
        }
    }

}