<app-barra-menu></app-barra-menu>

<div class="container-fluid contenedor-sobre-nosotros">
    <div class="row fila-sobre-nosotros">
        <div class="col-9 columna-sobre-nosotros">

            <div class="contenedor-quienes-somos">
                <div class="quienes-somos-descripcion">
                    <div class="descripcion-titulo">
                        <h2>¿Quiénes somos?</h2>
                    </div>
                    <div class="descripcion-texto">
                        <p>
                            Como su nombre lo dice, es una compañia totalmente centrada en el disfrute de las
                            actividades que realiza de este modo sus acciones y pensamientos fluyen sin pausa.
                        </p>
                        <br>
                        <p>
                            Somos un taller creativo multidisciplinario. Contamos con equipo de ayuda a crear y producir
                            obras de las que estamos orgullosos.
                        </p>
                        <br>
                        <p>
                            Estamos disponibles para contrataciones en un amplio rango de disciplinas creativas y para
                            múltiples trabajos.
                        </p>
                    </div>
                </div>
                <div class="quienes-somos-imagen">
                    <div class="contenedor-imagen-quienes-somos"></div>
                </div>
            </div>

            <div class="contenedor-mision-vision">
                <div class="mision-vision">
                    <div class="mision">
                        <div class="mision-titulo">
                            <h2>Misión</h2>
                        </div>
                        <div class="mision-texto">
                            <p>
                                Flow Stones transforma espacios con piedra natural y sinterizada de alta calidad, ofreciendo soluciones personalizadas que combinan diseño
                                y durabilidad. Nos comprometemos a brindar un servicio excepcional en cada proyecto, superando las expectativas de nuestros clientes a 
                                través de precisión, innovación y profesionalismo.
                            </p>
                        </div>                        
                    </div>
                    <div class="vision">
                        <div class="vision-titulo">
                            <h2>Visión</h2>
                        </div>
                        <div class="vision-texto">
                            <p>
                                Flow Stones aspira a ser la opción preferida en el sector de transformación y diseño de superficies de piedra, reconocida por su compromiso 
                                con la excelencia, la sustentabilidad y la satisfacción del cliente. Nos proyectamos como líderes en innovación en materiales naturales, 
                                creando espacios únicos que inspiran y perduran.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contenedor-valores">

                    <div class="valores">
                        <div class="valores-titulo">
                            <h2>Valores</h2>
                        </div>
                        <div class="valores-lista">
                            <ul>
                                <li>
                                    Calidad: Garantizamos que cada pieza y cada instalación cumpla con los más altos estándares, enfocándonos en la precisión y durabilidad de nuestros proyectos
                                </li>
                                <li>
                                    Compromiso con el Cliente: Valoramos cada relación con nuestros clientes, brindando un servicio transparente, puntual y con una comunicación constante en cada etapa del proyecto.
                                </li>
                                <li>
                                    Innovación: Nos mantenemos a la vanguardia de las tendencias y tecnologías en el uso de materiales naturales y sinterizados, ofreciendo propuestas innovadoras que transformen espacios de forma única.
                                </li>
                                <li>
                                    Responsabilidad Ambiental: Optamos por prácticas sostenibles en la selección y manejo de nuestros materiales, con el objetivo de reducir el impacto ambiental y promover el uso responsable de recursos naturales.
                                </li>
                                <li>
                                    Integridad: Actuamos con honestidad y ética en todos nuestros procesos, comprometidos a cumplir nuestras promesas y mantener la confianza de nuestros clientes y colaboradores.
                                </li>
                            </ul>
                        </div>
                    </div>
                   
               

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>