<app-barra-menu></app-barra-menu>
<app-whatsapp-icono></app-whatsapp-icono>
<!--CONTENEDOR PAGINA INICIO PRINCIPAL-->
<div class="container-fluid contenedor-pagina-inicio-principal">
  <div class="row fila-pagina-inicio-principal">

    <!--COLUMNA PRINCIPAL-->
    <div class="col-12 columna-pagina-inicio-principal">

      <!--CARRUSEL-->
      <div class="contenedor-principal">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
              <img src="./../../../assets/imagenes/principal-carrusel-uno.jpg" class="d-block w-100" alt="...">
              <div class="carrusel-item-etiqueta">
                <h2>Crea un espacio que perdure</h2>
              </div>
              <div class="carrusel-item-texto">
                <p>Piedras naturales: granito, caliza, cuarzo, cantera</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="./../../../assets/imagenes/cocina_galeria_2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="./../../../assets/imagenes/cocina_galeria_3.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!--CARRUSEL-->

    </div>
    <!--COLUMNA PRINCIPAL-->
    
  </div>
</div>
<!--CONTENEDOR PAGINA INICIO PRINCIPAL-->

<!--CONTENEDOR PAGINA INICIO GALERIA-->
<div class="container-fluid contenedor-pagina-inicio-galeria">
  <div class="row fila-pagina-inicio-galeria">
    <div class="col-9 columna-pagina-inicio-galeria">

      <!--GALERIA-->
      <div class="galeria-titulo">
        <h2>Galeria</h2>
      </div>
      <div class="contenedor-galeria">
        <div class="galeria-card">
          <div class="galeria-card-imagen">
            <img src="{{urlImagenCocinagaleriaUno}}" alt="imagen-galeria">
          </div>
          <div class="galeria-card-texto">
            <i class="fa-solid fa-location-dot" style="color: rgba(255, 102, 0, 0.7);"></i>
            <p>Condominio las Águilas</p>
          </div>
        </div>
        <div class="galeria-card">
          <div class="galeria-card-imagen">
            <img src="{{urlImagenCocinagaleriaDos}}" alt="imagen-galeria">
          </div>
          <div class="galeria-card-texto">
            <i class="fa-solid fa-location-dot" style="color: rgba(255, 102, 0, 0.7);"></i>
            <p>Residencial Pedregal</p>
          </div>
        </div>
        <div class="galeria-card">
          <div class="galeria-card-imagen">
            <img src="{{urlImagenCocinagaleriaTres}}" alt="imagen-galeria">
          </div>
          <div class="galeria-card-texto">
            <i class="fa-solid fa-location-dot" style="color: rgba(255, 102, 0, 0.7);"></i>
            <p>Texto de prueba</p>
          </div>
        </div>
        <div class="galeria-card">
          <div class="galeria-card-imagen">
            <img src="{{urlImagenCocinagaleriaCuatro}}" alt="imagen-galeria">
          </div>
          <div class="galeria-card-texto">
            <i class="fa-solid fa-location-dot" style="color: rgba(255, 102, 0, 0.7);"></i>
            <p>Anahuac</p>
          </div>
        </div>
        <div class="galeria-card">
          <div class="galeria-card-imagen">
            <img src="{{urlImagenCocinagaleriaCinco}}" alt="imagen-galeria">
          </div>
          <div class="galeria-card-texto">
            <i class="fa-solid fa-location-dot" style="color: rgba(255, 102, 0, 0.7);"></i>
            <p>Texto de prueba</p>
          </div>
        </div>
        <div class="galeria-card">
          <div class="galeria-card-imagen">
            <img src="{{urlImagenCocinagaleriaSeis}}" alt="imagen-galeria">
          </div>
          <div class="galeria-card-texto">
            <i class="fa-solid fa-location-dot" style="color: rgba(255, 102, 0, 0.7);"></i>
            <p>Texto de prueba</p>
          </div>
        </div>
        <div class="galeria-card">
          <div class="galeria-card-imagen">            
            <img src="{{urlImagenCocinagaleriaSiete}}" alt="imagen-galeria">
          </div>
          <div class="galeria-card-texto">
            <i class="fa-solid fa-location-dot" style="color: rgba(255, 102, 0, 0.7);"></i>
            <p>Residencial Cocoyoc</p>
          </div>
        </div>
        <div class="galeria-card">
          <div class="galeria-card-imagen">
            <img src="{{urlImagenCocinagaleriaTres}}" alt="imagen-galeria">
          </div>
          <div class="galeria-card-texto">
            <i class="fa-solid fa-location-dot" style="color: rgba(255, 102, 0, 0.7);"></i>
            <p>Texto de prueba</p>
          </div>
        </div>
      </div>
      <!--GALERIA-->

    </div>
  </div>
</div>
<!--CONTENEDOR PAGINA INICIO GALERIA-->

<!--CONTENEDOR PAGINA INICIO PROVEEDORES-->
<div class="container-fluid contenedor-pagina-inicio-proveedores">
  <div class="row fila-pagina-inicio-proveedores">
    <div class="col-9 columna-pagina-inicio-proveedores">

      <div class="proveedores-titulo">
        <h2>Proveedores</h2>
      </div>
      
      <!--PROVEEDORES-->
      <div class="contenedor-proveedores">
        <div class="contenedor-proveedores-cards">
          <div class="proveedores-card">
            <div class="card-provedores-titulo">
              <h3>Cosentino'</h3>
            </div>
            <div class="card-provedores-imagen">
              <img src="{{urlImagenProveedorCosentino}}" atl="imagen-proveedor">
            </div>
          </div>
          <div class="proveedores-card">
            <div class="card-provedores-titulo">
              <h3>Dekton</h3>
            </div>
            <div class="card-provedores-imagen">
              <img src="{{urlImagenProveedorDekton}}" atl="imagen-proveedor">
            </div>
          </div>
          <div class="proveedores-card">
            <div class="card-provedores-titulo">
              <h3>Mármoles Everstone</h3>
            </div>
            <div class="card-provedores-imagen">
              <img src="{{urlImagenProveedorEverStone}}" atl="imagen-proveedor">
            </div>
          </div>
          <div class="proveedores-card">
            <div class="card-provedores-titulo">
              <h3>Marblock</h3>
            </div>
            <div class="card-provedores-imagen">
              <img src="{{urlImagenProveedorMarBlock}}" atl="imagen-proveedor">
            </div>
          </div>
        </div>
        
        <div class="contenedor-proveedores-cards-dos">
          <div class="proveedores-card-dos">
            <div class="card-provedores-titulo-dos">
              <h3>Marmex Pisos</h3>
            </div>
            <div class="card-provedores-imagen-dos">
              <img src="{{urlImagenProveedorMamex}}" atl="imagen-proveedor">
            </div>
          </div>
          <div class="proveedores-card-dos">
            <div class="card-provedores-titulo-dos">
              <h3>Mármoles B'H</h3>
            </div>
            <div class="card-provedores-imagen-dos">
              <img src="{{urlImagenProveedorMarmolesBh}}" atl="imagen-proveedor">
            </div>
          </div>
          <div class="proveedores-card-dos">
            <div class="card-provedores-titulo-dos">
              <h3>Mármoles Puente</h3>
            </div>
            <div class="card-provedores-imagen-dos">
              <img src="{{urlImagenProveedorMarmolesPuente}}" atl="imagen-proveedor">
            </div>
          </div>
          <div class="proveedores-card-dos">
            <div class="card-provedores-titulo-dos">
              <h3>Grupo Tenerife</h3>
            </div>
            <div class="card-provedores-imagen-dos">
              <img src="{{urlImagenProveedorTnerife}}" atl="imagen-proveedor">
            </div>
          </div>
        </div>

        <div class="contenedor-proveedores-cards-tres">
          <div class="proveedores-card-tres">
            <div class="card-provedores-titulo-tres">
              <h3>Cosentino'</h3>
            </div>
            <div class="card-provedores-imagen-tres">
              <img src="{{urlImagenProveedorCosentino}}" atl="imagen-proveedor">
            </div>
          </div>
          <div class="proveedores-card-tres">
            <div class="card-provedores-titulo-tres">
              <h3>Dekton</h3>
            </div>
            <div class="card-provedores-imagen-tres">
              <img src="{{urlImagenProveedorDekton}}" atl="imagen-proveedor">
            </div>
          </div>
          <div class="proveedores-card-tres">
            <div class="card-provedores-titulo-tres">
              <h3>Mármoles Everstone</h3>
            </div>
            <div class="card-provedores-imagen-tres">
              <img src="{{urlImagenProveedorEverStone}}" atl="imagen-proveedor">
            </div>
          </div>
          <div class="proveedores-card-tres">
            <div class="card-provedores-titulo-tres">
              <h3>Marblock</h3>
            </div>
            <div class="card-provedores-imagen-tres">
              <img src="{{urlImagenProveedorMarBlock}}" atl="imagen-proveedor">
            </div>
          </div>
        </div>
      </div>
      <!--PROVEEDORES-->
      
    </div>
  </div>
</div>
<!--CONTENEDOR PAGINA INICIO PROVEEDORES-->


<app-footer></app-footer>