<app-barra-menu></app-barra-menu>

<div class="container-fluid contenedor-tecnologias">
    <div class="row fila-tecnologias">
        <div class="col-9 columna-tecnologias">

            <div class="contenedor-descripcion-tecnologias">
                <div class="descripcion-tecnologias-titulo">
                    <h2>Tecnologías</h2>
                </div>
                <div class="descripcion-tecnologias">

                    <div class="descripcion-tecnologias-lista">
                        <ul>
                            <li>Máquinas de corte de puente.</li>
                            <li>Esmeriladoras manuales Bosch.</li>
                            <li>Pulidora de brazo.</li>
                            <li>Montacargas Vale 5,000 lbs.</li>
                            <li>Camioneta 3.5 Ton.</li>
                            <li>Máquina pulidora de cantos fabricada a medida.</li>
                            <li>Pulidora de banco para caras de láminas.</li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="contenedor-tecnologias-imagenes-background">                
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>